---
title: Surf & Code Camp – Schedule
description: Surf in the morning, code in the afternoon, relax in the evening. We top off the week with a ReactJS Hackathon. Try out what you learned in the workshop.
keywords: reactjs, workshop, camp, reactjs.de, cascais, portugal, lisbon, react, react native, react.js, javascript, course, lessons, surf camp, coder beach
---

<%= partial "../shared/small_header" %>

<%= partial "topics-schedule/topics" %>

<!-- ********** WHITE SECTION - SCHEDULE ********** -->
<section id="schedule"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered mb">SCHEDULE</h2>
    <div class="col-md-12">
      <p>
        We took our intense two day full-time workshop and split it in half - giving you four days (Mo.-Thu.) of React workshop plus another day for a react native introduction (Fr.). The surfing lessons take place from Tuesday to Saturday during the morning hours. The rest of the weekend is reserved for the hackathon before we will leave on Sunday.
      </p>
    </div><!--/col-md-12-->

    <%= partial "topics-schedule/monday" %>
    <%= partial "topics-schedule/tuesday" %>
    <%= partial "topics-schedule/wednesday" %>
    <%= partial "topics-schedule/thursday" %>
    <%= partial "topics-schedule/friday" %>
    <%= partial "topics-schedule/saturday" %>
    <%= partial "topics-schedule/sunday" %>

  </div><!--/row-->
</div><!--/container-->


<%= partial "topics-schedule/hackathon" %>
