<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Jan Kus">

<meta NAME="subject" CONTENT="<%= current_page.data.title || "Code and Surf Camp - React Edition" %>">
<meta NAME="description" CONTENT="<%= current_page.data.description || "Learn to code React and surf waves. One week of workshop and surfing lessons near Lisbon, powered by hack.institute and ReactJS.de – Sign up now!" %>"><meta NAME="Keywords" CONTENT="<%= current_page.data.keywords || "reactjs, workshop, camp, reactjs.de, cascais, portugal, lisbon, react, react native, react.js, javascript, course, lessons, surf camp, coder beach" %>">
<meta NAME="Language" CONTENT="German">
<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
<meta NAME="Copyright" CONTENT="hack.institute">
<meta NAME="Designer" CONTENT="Jan Kus">
<meta NAME="Publisher" CONTENT="hack.institute">
<meta NAME="distribution" CONTENT="Global">
<meta NAME="Robots" CONTENT="INDEX,FOLLOW">
<meta NAME="zipcode" CONTENT="50678">
<meta NAME="city" CONTENT="Cologne">
<meta NAME="country" CONTENT="Germany">


<meta property="og:title" content="<%= current_page.data.title || "Code and Surf Camp - React Edition" %>">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.surfandcode.camp">
<meta property="og:image" content="http://www.surfandcode.camp/assets/img/surfandcode_social.jpg">
<meta property="og:site_name" content="Surf & Code Camp">
<meta property="og:description" content="<%= current_page.data.description || "Learn to code React and surf waves. One week of workshop and surfing lessons near Lisbon, powered by hack.institute and ReactJS.de – Sign up now!" %>">

<meta itemprop="name" content="Surf & Code Camp">
<meta itemprop="description" content="<%= current_page.data.description || "Learn to code React and surf waves. One week of workshop and surfing lessons near Lisbon, powered by hack.institute and ReactJS.de – Sign up now!" %>">
<meta itemprop="image" content="http://www.surfandcode.camp/assets/img/surfandcode_social.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="website">
<meta name="twitter:site" content="@hackinstitute">
<meta name="twitter:title" content="<%= current_page.data.title || "Code and Surf Camp - React Edition" %>">
<meta name="twitter:description" content="<%= current_page.data.description || "Learn to code React and surf waves. One week of workshop and surfing lessons near Lisbon, powered by hack.institute and ReactJS.de – Sign up now!" %>">
<meta name="twitter:creator" content="@hackinstitute">
<meta name="twitter:image" content="http://www.surfandcode.camp/assets/img/surfandcode_social.jpg">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/assets/img/favicon.ico">

<title><%= current_page.data.title || "Code and Surf Camp - React Edition" %></title>