---
title: Topics & Schedule || Surf & Code Camp
---

<%= partial "../shared/small_header" %>

<%= partial "topics_schedule/topics" %>

<!-- ********** WHITE SECTION - SCHEDULE ********** -->
<section id="schedule"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">SCHEDULE</h2>
    <hr class="aligncenter mb">
    <div class="col-md-12">
      <p>
        We split our successful 2-day workshop on four days / units from Monday to Thursday. On top, we will give you an introduction into react-native, the react-based framework to develop native apps for Android and iOS, on Friday.
      </p>
    </div><!--/col-md-12-->
    
    <%= partial "topics_schedule/monday" %>
    <%= partial "topics_schedule/tuesday" %>
    <%= partial "topics_schedule/wednesday" %>
    <%= partial "topics_schedule/thursday" %>
    <%= partial "topics_schedule/friday" %>
    <%= partial "topics_schedule/saturday" %>
    <%= partial "topics_schedule/sunday" %>

  </div><!--/row-->
</div><!--/container-->


<%= partial "topics_schedule/hackathon" %>